/* Grid Styles -------------------------------------------*/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  /* padding-left: 7%; */
  /* padding-bottom: 100%; */
}

.externalContributor {
  /* width:auto; */

  /* position:sticky; */
  /* margin-top: -10%; */
  /* padding-inline-start: 15%; */
  /* padding-left: 10%; */
  /* padding-bottom: 5%; */
  /* float: inline-start; */
  /* width: 45%; */
  /* position: relative; */
  /* display: flex; */
  /* background-position-y: 50%; */
  /* object-fit: cover; */
  /* background: red; */
}


.internalContributor {
  /* float: inline-start; */
  /* width: auto; */
  /* width: 50%; */
  /* position:relative; */

  object-fit: cover;
  

    /* max-width: 550px; */
  /* width:100%; */
  /* height: 500px; */
  /* position: absolute; */
  font-family: 'Droid Serif', serif;
  color:#fff;
  top: 20%;
  /* right: 0;   */
  /* left: 0; */
  /* margin: 0 auto; */
  overflow: hidden;
  /* border-radius: 0px; */
  /* box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5); */
  /* text-align: center; */
  transition:all 0.4s;

  /* background-size: 460px 460px;
            background-repeat: no-repeat; */ /*Not Working */
  /* background: blue; */
}


.cards {
  max-width: 1170px;
  padding-top: 10%;
  /* row-gap: 20px; */
  column-gap: 470px;
  margin: 0 auto auto;
  /* grid-gap: 10%; */
  /* max-width: 100%; */
  /* max-height: fit-content; */
  /* margin: 0 auto 30px; */
}

  .internalContributor:hover {
    
    box-shadow: 0px -5px 20px -9px rgba(0, 10, 30, 0.75);
    /* opacity: 1;
    bottom: 100px; */
    /* background: rgba(64, 64, 70,0.8); */
    /* background: #8e7c49;
    color:#fff; */

  }

  .internalContributor:hover .externalContributor{
    background-image: rgba(64, 64, 70,0.8);
    

  }

  .internalContributor {
    background-size:350px 350px;
    /* background: rgba(64, 84, 94,0.5);
    width: 550px;
    height: 500px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1); */
  }
  .internalContributor:hover {
    box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
  }

  .colorOverlay{
    height:350px; 
    background-size:350px 350px;
    /* background: rgba(64, 64, 70,0.8); */
    
  }

  .internalContributor .gradientOverlay{
    background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 21%);
    /* width: 550px;
    height: 500px;
    position: absolute; */
    /* top: 350px; */
    /* left: 0; */
    /* z-index: 15; */
  }

  .internalContributor:hover .colorOverlay {
    background: rgba(64, 64, 70,0.8);
  }

  .cardInfo {
    /* box-sizing: border-box; */
   /* padding: 0; */
   /* width: 100%; */
   /* position: absolute; */
   /* bottom: -40px; */
   /* left: 0; */
   /* margin: 0 auto; */
   /* padding: 0 50px; */
   /* font-style: 16px; */
   /* line-height: 24px; */
   /* z-index: 20; */
   opacity: 0;
   transition: bottom 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
 }

 .internalContributor:hover .cardInfo {
  opacity: 1;
  /* background: rgba(64, 64, 70,0.8); */

  /* bottom: 100px; */
}

.card-info a:hover{
  background: #8e7c49;
  color:#fff;
}

.card-info a:hover span{
  filter: brightness(10);
  opacity:1
}