/* Grid Styles -------------------------------------------*/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  /* padding-left: 7%; */
  /* padding-bottom: 100%; */
}

.externalContributor {
  /* width:auto; */

  /* position:sticky; */
  /* margin-top: -10%; */
  /* padding-inline-start: 15%; */
  /* padding-left: 10%; */
  /* padding-bottom: 5%; */
  /* float: inline-start; */
  /* width: 45%; */
  /* position: relative; */
  /* display: flex; */
  /* background-position-y: 50%; */
  /* object-fit: cover; */
}
.internalContributor {
  /* float: inline-start; */
  width: auto;
  /* width: 50%; */
  /* position:relative; */

  object-fit: cover;

  /* background-size: 460px 460px;
            background-repeat: no-repeat; */ /*Not Working */
  /* background: blue; */
}
.cards {
  max-width: 1170px;
  padding-top: 10%;
  /* row-gap: 20px; */
  column-gap: 465px;
  margin: 0 auto auto;
  /* grid-gap: 10%; */
  /* max-width: 100%; */
  /* max-height: fit-content; */
  /* margin: 0 auto 30px; */
}
